<div class="jumbotron">
	<h1>ABOUT</h1>
	<p>I'm creating a Pinteresting app with <%= link_to "OneMonthRails", "https://onemonth.com/courses/one-month-rails/", class: "btn btn-primary btn-lg" %></p>
</div>
